# ignore data & result of src
wqm_src/**/data/*
wqm_src/**/result/*
wqm_src/**/corpus/*
wqm_src/**/*.csv
wqm_src/**/m4a_audios/*
wqm_src/**/wav_audios/*
dn_src/**/data/*
dn_src/**/result/*
dn_src/**/corpus/*
dn_src/**/*.csv
dn_src/**/*.txt
dn_src/**/demotext
dn_src/**/shipintest
dn_src/**/*.png
dn_src/**/tex2pdf
dn_src/**/.idea
dn_src/**/ckpt
dn_src/**/word2vec_models
dn_src/**/models
dn_src/**/doc_topic
dn_src/**/txt
dn_src/**/*.xls
yiner_src/**/ts_videos
yiner_src/**/wav_audios
yiner_src/**/words_result
yiner_src/**/csv
yiner_src/crawler/**/*.txt
yiner_src/crawler/**/*.csv
yiner_src/crawler/**/*.mp4

wza_src/**/.idea
wza_src/**/ckpt
wza_src/**/result
wza_src/**/data
wza_src/**/corpus
wza_src/CutNews/data
wza_src/crawler/**/*.txt
wza_src/crawler/**/*.csv
wza_src/crawler/**/*.json
wza_src/crawler/**/*.png
wza_src/crawler/**/*.xlsx
wza_src/crawler/**/*.json
wza_src/ChineseNER/wiki_100.utf8
wza_src/YEDDA-new/food_data
wza_src/YEDDA-new/shipintest
wza_src/YEDDA-new/tex2pdf
wza_src/YEDDA-new/*.png
wza_src/DataProcess/*.csv
wza_src/DataProcess/model/*
wza_src/DataProcess/topic_doc/*
wza_src/DataProcess/cluster/*
wza_src/DataProcess/vec_arr/*


ChineseNER-valid/ckpt/*
ChineseNER-valid/ckpt-地点/*
ChineseNER-valid/result/*
ChineseNER-valid/data/*
ChineseNER-valid/maps.pkl
ChineseNER-valid/wiki_100.utf8


*.gitkeep

# all .DS_Store
.DS_Store
*/**/.DS_Store

# ignore settings
**/.idea/
**/fm/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
dn_src/命名实体识别代码/识别代码/ChineseNER-master/wiki_100.utf8
*.rar
*.pdf
